.ec-cart {
  order: 0;
}

.ec-footer {
  order: 2;
}

.ec-store__content-wrapper {
  display: flex;
  flex-direction: column;
}

.widget_under_cart {
  order: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buy_now_button {
  order: 100;
}

.grid__wrap {
  width: 100%;
}